.jumbotron {
    padding: 10% 4%;
}

/* Working method */
.jumbotron {
    background: 
      /* top, transparent red, faked with gradient */ 
      linear-gradient(
        rgba(228, 9, 217, 0.288), 
        rgba(255, 0, 0, 0.2)
      ),
      /* bottom, image */
      url(../img/background.jpg) no-repeat center center ;
      width: 100%;
  }
.jumbotron h1 {
    color: aliceblue;
    
    font-size: 4rem;
}
.jumbotron p {
    color: aliceblue;
}